.card {
  width: 290px;
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #181818;
  border-radius: 4px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.card:hover {
  transform: translateX(-3px);
  background-color: #fffbf5;
}

.card div:last-child {
  margin-top: 8px;
}

.dltBtn {
  padding: 4px 8px;
  cursor: pointer;
}

p {
  line-height: 1;
}

.userWrap {
  display: flex;
  gap: 6px;
}
